<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="list.css" />
    <script defer src="list.js"></script>
    <title>Checklist</title>
  </head>
  <body>
    <script>
      var players = "<%= players %>";
    </script>
    <p><%= players %></p>
    <label for="select-player">Choose your Name:</label>
    <select name="select-player" id="select-player">
      <!--       <option value="the-c">The-C</option>
      <option value="puschkin">Puschkin</option>
      <option value="urlaub">Urlaub</option>
      <option value="kellox">Kellox</option> -->
    </select>
    <div class="grid-container">
      <!--       <div class="grid-item grid-header">
        <div class="first-cell"></div>
      </div> -->
      <!--       <div class="grid-item grid-header">The-C</div>
      <div class="grid-item grid-header">Puschkin</div>
      <div class="grid-item grid-header">Urlaub</div>
      <div class="grid-item grid-header">Kellox</div> -->
      <!-- Row Start -->
      <!-- <div class="grid-item">
        <div class="grid-task">
          SL1 Challenge: Beat the game using the "Soul Level 1" restriction, meaning you cannot level up your character
          throughout the entire playthrough.
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="1" data-column="the-c" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="1" data-column="puschkin" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="1" data-column="urlaub" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="1" data-column="kellox" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-task">
          No Shield Challenge: Complete the game without using a shield to block attacks, relying solely on dodging and
          parrying.
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="2" data-column="the-c" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="2" data-column="puschkin" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="2" data-column="urlaub" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="2" data-column="kellox" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-task">
          No Estus Flask Challenge: Play the game without using any Estus Flasks or other healing items, relying only on
          natural health regeneration or alternative means of healing.
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="3" data-column="the-c" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="3" data-column="puschkin" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="3" data-column="urlaub" type="checkbox" />
        </div>
      </div>
      <div class="grid-item">
        <div class="grid-checkbox">
          <input data-row="3" data-column="kellox" type="checkbox" />
        </div>
      </div>
 -->
    </div>
  </body>
</html>
